/* VARIABLE */
:root {
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;

  --anchopantalla: 1200px;
}
/* SNIPPET PARA QUE EL PADDING NO AFECTE LOS ELEMENTOS */
html {
    box-sizing: border-box;
    min-height: 100%;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    font-family: 'Krub', sans-serif;
    min-height: 100%;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-size: 1.6rem;
  }
  h1, h2, h3, h4, h5, h6{
    margin: 0;
  }
  h2, h3{
    text-align: center;
  }
  h3{
    color: var(--secundario);
    font-weight: 400;
    font-size: 3rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 2;
  }
  .site-header{
    background-color: #ffffff;
  }
  .site-header nav{
    max-width: var(--anchopantalla);
    margin: 0 auto;
    padding: 2rem 0;

    display: flex;
     /* SE USA ALIGN ITEMS POR QUE SE ESTA USANDO FLEX DIRECTION COLUMN */
     /* SE USA JUSTIFY CONTENT CENTER PARA CENTRAR ELEMENTOS EN ROW */
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 768px){
    .site-header nav{
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .site-header nav a{
    color: var(--oscuro);
    font-size: 2.2rem;
    text-decoration: none;
    margin-bottom: 2rem;
  }
  .site-header nav a:last-of-type{
    margin-bottom: 0;
  }
  @media (min-width: 768px){
    .site-header nav a{
      margin-bottom: 0;
    }
  }

  .hero{
    height: 45rem;
    background-image: url(../img/hero.jpg);
    position: relative;
    /* CUANDO SE CAMBIA DE FLEX DIRECTION ROW A COLUMN LAS PRPIEDADES JUSTIFY Y ALING TAMBIEN CAMBIAN */
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .hero::after{
    content: '';
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0em;
  }
  .contenedor-hero{
    color: #ffffff;
    position: relative;
    z-index: 1;

    /* PARA CENTRAR LOS ELEMENTOS DE MANERA HORIZONTAL SE PUEDE USAR TANTO TEXT ALING COMO FLEXBOX */
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* AMBOS SON VALIDOS */
  }
  .contenedor-hero i{
    font-size: 5rem;
    color: var(--primario);
    margin-right: 1rem;
  }
  .boton{
    background-color: var(--secundario);
    padding: 1rem 5rem;
    /* SE CAMBIA LA PROPIEDAD DEL A DE INLINE A INLINEBLOCK PARA QUE PUEDA RECIBIR MARGIN Y PADDING YA QUE SIENDO INLINE NO PUEDE */
    display: inline-block;
    margin-top: 1rem;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.2rem;
    border-radius: .5rem;
    transition: .5s ease-in-out;
    border: none;
  }
.boton:hover{
  cursor: pointer;
  background-color: #00636e;
}
  .contenedor{
    max-width: var(--anchopantalla);
    /* SE USA MARGIN 0 AUTO PARA CENTRARLO SE PUEDE CENTRAR CON FLEXBOX PERO REQUERIRA MAS LINEAS */
    margin: 3rem auto;
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 10px 21px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 21px 1px rgba(0,0,0,0.75);
box-shadow: 0px 10px 21px 1px rgba(0,0,0,0.75);
  }
  .contenedor-servicios{
    margin-top: 3rem;
  }
  @media (min-width: 768px){
    .contenedor-servicios{
      display: flex;
      justify-content: space-between;
    }
    .servicio{
      /* ESTA PROPIEDA ES UN ATAJO DE FLEX GROW, FLEX SHIRK, FLEX BASIS */
      /* EL CALC TOMA DIVIDE TODO EL ESPACIO ENTRE LOS ELEMENTOS Y LE RESTA UN REM, EL REM ES PARA APLICAR ESPACIAMIENTO ENTRE CADA ELEMENTO */
      /* AL USAR DISPLAY FLEX DEJA UN ESPACIO YA QUE EL FLEX INICIA EN FLEXSTAR  SE USA SPACE BETWEEN EN EL PADREPARA CORREGIR*/
      flex: 0 0 calc(33.3% - 1rem);
    }
  }
  .servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .iconos{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--primario);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
  }
  .iconos{
    font-size: 3rem;
  }

  form {
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem auto;
  }
  section form legend {
    margin: 3rem auto;
    font-size: 2rem;
    color: var(--primario);
  }
  @media (min-width: 768px){
    form{
      max-width: 800px;
    }
    .contenedor-campos{
      display: flex;
      justify-content: space-between;
      /* FLEX WAP APLICA PARA EL PADRE */
      flex-wrap: wrap;
    }
    .campo{
      /* FLEX SOLO APLICA PARA LOS HIJOS */
      flex: 0 0 calc(50% - 1rem);
    }
  }
  .campo{
    display: flex;
    margin-bottom: 2rem;
  }
  .campo label {
    flex: 0 0 90px;
    padding-top: .5rem;
    color: #ffffff;
  }
  .campo input{
    flex: 1;
    height: 4rem;
  }
  .campo textarea{
    flex: 1;
    height: 6rem;
  }
  .w100{
    flex: 0 0 100%;
  }
  .enviar{
    display: flex;
    justify-content: center;
  }